@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', serif;
}

.pre-title {
  font-family: "Nothing You Could Do", cursive;
}

:root {
  --swiper-theme-color: #fff !important;
}

.swiper-slide {
    height: auto !important;
    align-self: stretch !important;
  }